@import 'palette';

body {
  color: $color4;
  font-family: 'Roboto Mono', monospace;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.quadrant {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;

  width: 50%;
  height: 50%;
  transition: height .2s ease, width .2s ease;

  h3 {
    transition: font-size .2s ease;
  }
}

.one   { background: $color1; }
.two   { background: $color2; }
.three { background: $color3; }
.four  { background: $color5; }
