// Coolors Exported Palette - coolors.co/483c46-3c6e71-70ae6e-beee62-f4743b

// RGB
$color1: rgba(72, 60, 70, 1);
$color2: rgba(60, 110, 113, 1);
$color3: rgba(112, 174, 110, 1);
$color4: rgba(190, 238, 98, 1);
$color5: rgba(244, 116, 59, 1);

$black: #000;
